{% extends 'newsletter/base.html' %}
{% block title %}{{ recipient_detail.full_name }}{% endblock %}
{% block content %}
<section class="py-5 text-center container">
    <div class="col-lg-6 col-md-8 mx-auto"><h1 class="fw-light">Подробности о получателе</h1></div>
</section>
<section class="py-5 text-center container">
    <p class="lead text-body-secondary">E-mail: {{ recipient_detail.email }}</p>
    <p class="lead text-body-secondary">ФИО: {{ recipient_detail.full_name }}</p>
    <p class="lead text-body-secondary">Коммент: {{ recipient_detail.comment }}</p>
</section>
{% endblock %}