{% extends 'newsletter/base.html' %}
{% block title %}Удаление получаетля{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-danger text-white">
            <h3>Подтверждение удаления</h3>
        </div>
        <div class="card-body">
            <p>Вы уверены, что хотите удалить получателя?</p>
            <p><strong>Имя:</strong> {{ object.full_name }}</p>
            <p><strong>Email:</strong> {{ object.email }}</p>

            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Да, удалить</button>
                <a href="{% url 'newsletter:recipient_list' %}" class="btn btn-secondary">Отмена</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}