{% extends 'newsletter/base.html' %}
{% block title %}Получатели рассылки{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2>Список получателей</h2>
    <a href="{% url 'newsletter:recipient_create' %}" class="btn btn-primary mb-3">Добавить получателя</a>

    <table class="table">
        <thead>
            <tr>
                <th>ФИО</th>
                <th>Email</th>
                <th>Комментарий</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for recipient in recipient_list %}
            <tr>
                <td>{{ recipient.full_name }}</td>
                <td>{{ recipient.email }}</td>
                <td>{{ recipient.comment|truncatechars:30 }}</td>
                <td>
                    <div class="btn-group">
                        <a href="{% url 'newsletter:recipient_detail' recipient.pk %}"
                           class="btn btn-sm btn-outline-info">Подробнее</a>

                        {% if not request.user.is_staff and recipient.owner == request.user %}
                        <a href="{% url 'newsletter:recipient_edit' recipient.pk %}"
                           class="btn btn-sm btn-outline-warning ms-2">
                           Редактировать
                        </a>

                        <form method="post" action="{% url 'newsletter:recipient_delete' recipient.pk %} "
                              class="d-inline ms-2" onsubmit="return confirm('Удалить получателя?');">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-outline-danger">Удалить</button>
                        </form>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}