{% extends 'newsletter/base.html' %}
{% block title %}Письмо на сброс пароля{% endblock %}
{% block content %}
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Письмо отправлено</h1>
      <p>Мы отправили вам инструкции по установке нового пароля на указанный адрес электронной почты.</p>
      <p>Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес, на который зарегистрировались, и проверьте папку со спамом.</p>
    </div>
  </div>
</section>
<div class="d-flex justify-content-center">
  <div class="col-lg-1">
    <div class="card-body">
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <a href="{% url 'newsletter:home_page' %}" class="center btn btn-danger" type="button">На главную</a>
        </form>
    </div>
  </div>
</div>
{% endblock %}