{% extends 'newsletter/base.html' %}
{% block title %}Восстановление пароля{% endblock %}
{% block content %}
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto"><h1 class="fw-light">Восстановление пароля</h1></div>
  </div>
</section>
<div class="d-flex justify-content-center">
  <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card mb-4 box-shadow">
          <div class="card-header text-center">
              <h4 class="my-0 font-weight-normal">Введите ваши данные</h4>
          </div>
          <div class="card-body">
              <form method="post" action="" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Сброс пароля</button>
                  <a href="{% url 'newsletter:home_page' %}" class="btn btn-danger" type="button">Назад</a>
              </form>
          </div>
      </div>
  </div>
</div>
{% endblock %}