{% extends 'newsletter/base.html' %}
{% block title %}Пароль изменен{% endblock %}
{% block content %}
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Пароль изменен</h1>
      <p>Ваш пароль был успешно изменен. Теперь вы можете войти с новым паролем.</p>
    </div>
  </div>
</section>
<div class="d-flex justify-content-center">
  <div class="col-lg-1">
    <div class="card-body">
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <a href="{% url 'users:user_login' %}" class="center btn btn-danger" type="button">Войти</a>
        </form>
    </div>
  </div>
</div>
{% endblock %}